<div class="row">
  <div class="col-md-12">
    <h2 id="page-heading" data-cy="taskDashboardHeading">
      Tableau de bord de mes tâches
    </h2>

    <div *ngIf="dashboardTasks && dashboardTasks.length === 0" class="alert alert-warning">
      <span>Vous n'avez pas de tâches assignées pour le moment.</span>
    </div>

    <div *ngIf="dashboardTasks && dashboardTasks.length > 0">
      <div class="list-group">
        <div class="list-group-item" *ngFor="let task of dashboardTasks; trackBy: trackId" data-cy="taskDashboardItem">
          <div class="d-flex w-100 justify-content-between align-items-center">
            <h5 class="mb-1">{{ task.title }}</h5>
            <span
              class="badge text-uppercase"
              [ngClass]="{
                'bg-primary': task.status === 'À faire',
                'bg-warning text-dark': task.status === 'En cours',
                'bg-success': task.status === 'Terminée'
              }"
              >{{ task.status }}</span
            >
          </div>
          <p class="mb-1">{{ task.shortDescription }}</p>
          <!-- Optionnel: Ajouter un lien pour voir les détails complets de la tâche -->
          <!-- <small class="text-muted"><a [routerLink]="['/task', task.id, 'view']">Voir les détails</a></small> -->
        </div>
      </div>
    </div>
  </div>
</div>